{% extends "base.html" %}

{% block title %}Register account{% endblock %}

{% block menu %}
{% if tournament_status == 0 or tournament_status == 1 or tournament_status == 2 %}
    {% if tournament.number_of_participants > 0  %}
        <a class="nav-link" href="/participants">Участники</a>
    {% endif %}
{% endif %}
{% if tournament_status == 1 or tournament_status == 2 %}
    <a class="nav-link" href="/games">Игры</a>
    <a class="nav-link" href="/rating">Рейтинг</a>
{% endif %}
{% endblock %}

{% block content %}
<form action="{% url 'account_register' %}" method="post">
{% csrf_token %}
{{ form.non_field_errors }}
{{ form.username.errors }}
{{ form.email.errors }}
{{ form.first_name.errors }}
{{ form.last_name.errors }}
{{ form.password1.errors }}
{{ form.password2.errors }}
<div class="form-group row justify-content-md-center">
    <label for="{{ form.username.id_for_label }}" class="col-sm-2 col-form-label">Логин</label>
    <div class="col-sm-6">
    {{ form.username }}
    </div>
</div>
<div class="form-group row justify-content-md-center">
    <label for="{{ form.email.id_for_label }}" class="col-sm-2 col-form-label">Email</label>
    <div class="col-sm-6">
    {{ form.email }}
    </div>
</div>
<div class="form-group row justify-content-md-center">
    <label for="{{ form.first_name.id_for_label }}" class="col-sm-2 col-form-label">Имя</label>
    <div class="col-sm-6">
    {{ form.first_name }}
    </div>
</div>
<div class="form-group row justify-content-md-center">
    <label for="{{ form.last_name.id_for_label }}" class="col-sm-2 col-form-label">Фамилия</label>
    <div class="col-sm-6">
    {{ form.last_name }}
    </div>
</div>
<div class="form-group row justify-content-md-center">
    <label for="{{ form.password1.id_for_label }}" class="col-sm-2 col-form-label">Пароль</label>
    <div class="col-sm-6">
    {{ form.password1 }}
    </div>
</div>
<div class="form-group row justify-content-md-center">
    <label for="{{ form.password2.id_for_label }}" class="col-sm-2 col-form-label">Подтвердите пароль</label>
    <div class="col-sm-6">
    {{ form.password2 }}
    </div>
</div>
<input type="submit" value="Зарегистрироваться" class="btn btn-secondary">
</form>
<a href="/accounts/login">Войти</a>
{% endblock %}
