{% extends "base.html" %}

{% block title %}Games{% endblock %}

{% block menu %}
{% if tournament_status == 0 or tournament_status == 1 or tournament_status == 2 %}
    {% if tournament.number_of_participants > 0  %}
        <a class="nav-link" href="/participants">Участники</a>
    {% endif %}
{% endif %}
{% if tournament_status == 1 or tournament_status == 2 %}
    <a class="nav-link" href="/games">Игры</a>
    <a class="nav-link" href="/rating">Рейтинг</a>
{% endif %}
{% endblock %}

{% block content %}
<h3 class="cover-heading">Расписание игр:</h3>
<p>
<table class="table table-dark">
    <tbody>
    {% for g in games %}
        <tr>
            <th scope="row">{{ g.game_date }}</th>
            <td>{{ g.start_time|time:'H:i' }}</td>
            <td>{{ g.get_p1 }}</td>
            <td>
                <table style="width: 100%; height: 40px; align:justify;"><tr>
                {% for r in g.setresult_set.all %}
                    <td style="width: 20%; border: 0px">
                        {{ r.result1 }}
                    </td>
                {% endfor %}
                </tr></table>
            </td>
        </tr>
        <tr>
            <th scope="row" style="border: 0px"></th>
            <td style="border: 0px"></td>
            <td style="border: 0px">{{ g.get_p2 }}</td>
            <td style="border: 0px">
                <table style="width: 100%; height: 40px; align:justify;"><tr>
                {% for r in g.setresult_set.all %}
                    <td style="width: 20%; border: 0px">
                        {{ r.result2 }}
                    </td>
                {% endfor %}
                </tr></table>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</p>
{% endblock %}
